@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply dark:text-grayClassic50 dark:bg-backgroundDark text-textDark bg-grayClassic50 font-poppins min-h-screen w-screen p-0 m-0 overflow-x-hidden;
  }
}

@layer components {
  .smBlueBtn {
    @apply bg-lightBlue rounded-lg px-[25px] py-[10px] border border-lightBlue text-white font-medium text-sm md:text-base hover:bg-grayClassic100 dark:hover:bg-backgroundDark dark:hover:brightness-150 hover:text-lightBlue dark:hover:text-grayClassic50 duration-200;
  }

  .formTitle {
    @apply font-semibold text-grayClassic800 text-base;
  }
  .inputField {
    @apply bg-gray-50 dark:bg-blue-100 h-[55px] w-[100%] rounded-xl border border-gray-200 dark:border-blue-100 outline-none px-5 pt-6 pb-1 text-sm text-textDark focus:bg-white focus:shadow-inner;
  }

  .activeNavTab {
    @apply text-lightBlue dark:text-blue-400 hover:text-blue-800 font-semibold text-sm md:text-base hover:underline underline-offset-[6px] decoration-wavy duration-200;
  }

  .nonActiveNavTab {
    @apply text-grayClassic500 dark:text-grayClassic50 hover:text-blue-800 font-medium text-sm md:text-base hover:underline underline-offset-[6px] decoration-wavy duration-200;
  }
}


/*  Dark Mode Toggle CSS starts */
.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  transform: scale(1.5);
}

.ball {
  top: 2px;
  left: 2px;
  transition: transform 0.2s linear;
}
.checkbox:checked + .label .ball {
  transform: translateX(16px);
}

.fa-moon {
  color: #d8b4fe;
  font-size: 10px;
}

.fa-sun {
  color: #fde047;
  font-size: 10px;
}
/*  Dark Mode Toggle CSS ends */

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.form__group {
  position: relative;
}

.form__field {
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 15px;
  cursor: text;
  top: 18px;
  left: 20px;
}

.form__label {
  position: absolute;
  display: block;
  transition: 0.2s;
  color: #9b9b9b;
  pointer-events: none;
}

.form__field:focus ~ .form__label, .form__field:valid ~ .form__label  {
  position: absolute;
  top: 6px;
  left:20px;
  display: block;
  transition: 0.2s;
  font-size: 12px;
}

/* hamburger button starts */
input[type = "checkbox"] {
  -webkit-appearance: none;
  display: none;
  visibility: hidden;
}
.bar {
  position: relative;
  cursor: pointer;
  width: 40px;
  height: 36px;
}
.bar span {
  position: absolute;
  width: 30px;
  height: 3px;
  border-radius: 100px;
  display: inline-block;
  transition: 0.3s ease;
  left:3px;
}
.bar span.top {
  top: 6px;
}
.bar span.middle {
  top: 15px;
}
.bar span.bottom {
  bottom: 8px;
}

input[type]:checked ~ span.top {
  transform: rotate(45deg);
  transform-origin: top left;
  width: 33px;
  left: 0px;
  
}
input[type]:checked ~ span.bottom {
  transform: rotate(-45deg);
  transform-origin: top left;
  width: 33px;
  bottom: 4px;
  left:-3px;
  box-shadow: 0 0 10px #495057;
}
input[type]:checked ~ span.middle {
  transform: translateX(-20px);
  opacity: 0;
}
/* hamburger button ends */

.uploadBtn {
  position: relative;
  padding: 11px 16px;
  font-size: 15px;
  line-height: 1.5;
  border-radius: 8px;
  color: white;
  background-color: #446aaf;
  border: 0;
  overflow: hidden;
  transition: 0.2s;
}

.uploadBtn input[type="file"]{
  cursor: pointer;
  position: absolute;
  left: 0%;
  top: 0%;
  transform: scale(3);
  opacity: 0;
}

.uploadBtn:hover {
  background-color: #1e3a8a;
}


@media screen and (max-width: 640px)
{
    body, html{
        width: 100vw;
        overflow-x: hidden;
    }
}